<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo"><img src="assets/img/banner8.png" alt="Logo"></a>
    </div>

    <div class="main-nav">
        <div class="container" style="display: flex; max-height: 70px;">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/banner8.png" alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" routerLink="/">Home <i class='bx bx-plus'></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" routerLink="/paintings">Paintings <i class='bx bx-plus'></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" routerLink="/portfolio">Portfolio <i class='bx bx-plus'></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" routerLink="/exhibitions">Exhibitions <i class='bx bx-plus'></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" routerLink="/about">About me <i class='bx bx-plus'></i></a>
                        </li>

                        <!-- <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Blog <i class='bx bx-plus'></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/blog" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog</a></li>

                                <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Details</a></li>
                            </ul>
                        </li> -->
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" routerLink="/contact">Contact<i class='bx bx-plus'></i></a>
                        </li>
                        <li class="nav-item" *ngIf="(isLoggedIn$ | async)">
                            <a href="javascript:void(0)" class="nav-link" routerLink="/control-panel">Control panel <i class='bx bx-plus'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/create-painting" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Create Paiting</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- <div class="menu-btn"  *ngIf="!(isLoggedIn$ | async)">
                        <a routerLink="/sign-in" class="phone-btn">Sign in</a>
                    </div>

                    <div class="menu-btn" *ngIf="!(isLoggedIn$ | async)">
                        <a routerLink="/sign-up" class="phone-btn">Register</a>
                    </div> -->

                    <div class="menu-btn" *ngIf="(isLoggedIn$ | async)">
                        <a>Hello {{(username$ | async)}}</a>
                      </div>

                    <div class="menu-btn" (click)="logout()" *ngIf="(isLoggedIn$ | async)">
                        <a class="phone-btn" type="submit">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>