<app-navbar></app-navbar>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>Paintings</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>Paintings</li>
            </ul>
        </div>
    </div>
</div>

<section class="service-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Paintings</span>
            <h2>Available Paintings</h2>
            <p>Here you can find some of my most recent work</p>
        </div>



        <div class="row pt-45">
            <ng-container *ngIf="(paginatedPaintings$ | async) as paintings">
              <div *ngIf="paintings.length === 0">
                <h4>Nothing to show here</h4>
              </div>
              <div class="col-lg-4 col-md-5" *ngFor="let painting of paintings">
                <div class="service-card">
                  <a routerLink="/paintings-details/{{painting.id}}">
                    <img [src]="apiUrl + painting.paintingImages[0]?.imagePath" width="380" height="400">
                  </a>
                  <div class="service-content">
                    <a routerLink="/paintings-details/{{painting.id}}">
                      <h3>{{painting.name}}</h3>
                    </a>
                    <p class="short-description">{{painting.dimensions}}</p>
                    <p>Dimensions: {{painting.dimensions}}</p>
                    <p *ngIf="(isLoggedIn$ | async)">Price: {{painting.price}}</p>
                    <p *ngIf="(isLoggedIn$ | async)">
                      <i class='bi bi-trash3' id="trashbutton" type="button" (click)="onDeleteClick(painting.id)"></i>
                      <i class='bi bi-pencil' id="pencilbutton" type="button" (click)="onEditPainting(painting.id)"></i>
                    </p>
                    <a routerLink="/contact" class="default-btn" (click)="onMakeinquiryClick(painting.name)">Make inquiry</a>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

        
          
          

          <div class="pagination-area">
            <nav aria-label="Page navigation example text-center">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="currentPage > 1 && goToPage(currentPage - 1)">
                    <i class='bx bx-chevrons-left'></i>
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.current]="i + 1 === currentPage">
                  <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="currentPage < totalPages && goToPage(currentPage + 1)">
                    <i class='bx bx-chevrons-right'></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
 

          
          
          

          
          
          


    </div>
</section>

<app-footer></app-footer>