<app-navbar></app-navbar>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>Paintings</h3>
            <ul>
                <li><a routerLink="/" aria-label="Navigate to the home page">Home</a></li>
                <li><i class="bx bxs-chevrons-right" aria-hidden="true"></i></li>
                <li>Paintings</li>
            </ul>
        </div>
    </div>
</div>

<section class="service-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Paintings</span>
            <h2>Available Paintings</h2>
            <p>Discover some of my most recent artworks, each reflecting unique inspirations and techniques.</p>
        </div>

        <div class="row pt-45">
            <ng-container *ngIf="(paginatedPaintings$ | async) as paintings">
                <div *ngIf="paintings.length === 0">
                    <h4>Nothing to show here</h4>
                </div>
                <div class="col-lg-4 col-md-5" *ngFor="let painting of paintings">
                    <div class="service-card">
                        <a routerLink="/paintings-details/{{painting.id}}" attr.aria-label="View details of {{painting.name}}">
                            <img [src]="apiUrl + painting.paintingImages[0]?.imagePath" width="380" height="400" alt="{{painting.name}}">
                        </a>
                        <div class="service-content">
                            <a routerLink="/paintings-details/{{painting.id}}" attr.aria-label="View details of {{painting.name}}">
                                <h3>{{painting.name}}</h3>
                            </a>
                            <p class="short-description">{{painting.dimensions}}</p>
                            <p>Dimensions: {{painting.dimensions}}</p>
                            <p *ngIf="(isLoggedIn$ | async)">Price: {{painting.price}}</p>
                            <p *ngIf="(isLoggedIn$ | async)">
                                <button class="btn-icon" (click)="onDeleteClick(painting.id)" attr.aria-label="Delete {{painting.name}}">
                                    <i class="bi bi-trash3 trash-icon"></i>
                                </button>
                                <button class="btn-icon" (click)="onEditPainting(painting.id)" attr.aria-label="Edit {{painting.name}}">
                                    <i class="bi bi-pencil pencil-icon"></i>
                                </button>                                
                            </p>
                            <a routerLink="/contact" class="default-btn" (click)="onMakeinquiryClick(painting.name)" attr.aria-label="Make an inquiry about {{painting.name}}">
                                Make Inquiry
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <!-- Pagination -->
        <div class="pagination-area">
            <nav aria-label="Page navigation">
                <ul class="pagination text-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="currentPage > 1 && goToPage(currentPage - 1)" aria-label="Previous page">
                            <i class="bx bx-chevrons-left"></i>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.current]="i + 1 === currentPage">
                        <a class="page-link" (click)="goToPage(i + 1)" attr.aria-label="Go to page {{ i + 1 }}">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="currentPage < totalPages && goToPage(currentPage + 1)" aria-label="Next page">
                            <i class="bx bx-chevrons-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<app-footer></app-footer>
