#trashbutton{
    // font-family: boxicons!important;
    font-size: 24px;
    color: black;
    margin-left: 25px;
    float:right;
}

#pencilbutton{
    font-size: 24px;
    color: black;
    margin-left: 25px;
    float:right;
}