.btn-icon {
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    padding: 0; /* Remove extra padding */
    margin-right: 15px; /* Add space between buttons */
    cursor: pointer; /* Change cursor to pointer */
    display: inline-flex; /* Align icon within button properly */
    align-items: center;
}

/* Icon-specific styles */
.btn-icon i {
    font-size: 24px; /* Icon size */
    color: black; /* Icon color */
}

/* Add hover effect for better UX */
.btn-icon:hover i {
    color: gray; /* Change icon color on hover */
}

.service-card h3 {
    white-space: nowrap;       /* Prevents the title from wrapping */
    overflow: hidden;          /* Hides the overflowed text */
    text-overflow: ellipsis;   /* Adds ellipsis (...) to truncated text */
    width: 100%;               /* Ensures it takes up the full width of the container */
    display: block;            /* Ensures the title behaves like a block-level element */
  }

.short-description{
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3; /* Number of lines */
-webkit-box-orient: vertical;
margin-bottom: 10px; /* Adjust as needed */
}

img{
    object-fit: cover;
}