#trashbutton{
    font-size: 24px;
    color: black;
    margin-left: 25px;
    float:right;
}

#pencilbutton{
    font-size: 24px;
    color: black;
    margin-left: 25px;
    float:right;
}

.short-description{
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3; /* Number of lines */
-webkit-box-orient: vertical;
margin-bottom: 10px; /* Adjust as needed */
}