<div class="row pt-45">
    <div class="col-lg-4 col-md-6" *ngFor="let exhibition of (exhibitions$ | async)">
        <div class="blog-card">
            <a routerLink="/exhibitions-details/{{exhibition.id}}">
                <img [src]="exhibition.exhibitionImages[0]?.imagePath" alt="Blog Images" class="exhibition-image">
            </a>
            <div class="blog-content">
                <a routerLink="/exhibitions-details/{{exhibition.id}}">
                    <h3>{{ exhibition.title }}</h3>
                </a>
                <ul class="blog-admin">
                    <li><a routerLink="/"><i class='bi bi-geo-alt-fill'></i> {{ exhibition.location }}</a></li>
                    <li><i class='bx bx-calendar-alt'></i> {{ exhibition.startDate | date:'dd/MM/yyyy' }}</li>
                </ul>
                <p>{{ exhibition.dimensions }}</p>
                <p *ngIf="(isLoggedIn$ | async)">
                    <i class='bi bi-trash3' id="trashbutton" type="button" (click)="onDeleteClick(exhibition.id)"></i>
                    <i class='bi bi-pencil' id="pencilbutton" type="button" (click)="onEdit(exhibition.id)"></i>
                </p>
            </div>
        </div>
    </div>
</div>


