<app-navbar></app-navbar>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>Terms & Conditions</h3>
            <ul>
                <li><a routerLink="/" aria-label="Navigate to the home page">Home</a></li>
                <li><i class="bx bxs-chevrons-right" aria-hidden="true"></i></li>
                <li>Terms & Conditions</li>
            </ul>
        </div>
    </div>
</div>

<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="single-content">
            <h3>Welcome to Karpinski XY</h3>
            <p>The following terms and conditions ("Terms") govern your access to and use of this Site, including its content, services, and products. Please read these Terms carefully before using the Site.</p>
            
            <h3 id="acceptance-of-terms">1. Acceptance of Terms</h3>
            <p>By accessing or using any part of the Site, you agree to be bound by these Terms. If you do not agree to all the terms and conditions of this agreement, you may not access the website or use any services.</p>
            
            <h3 id="intellectual-property-rights">2. Intellectual Property Rights</h3>
            <p>The paintings, images, text, designs, graphics, and other works of art (collectively, "Artworks") displayed on the Site are the property of Karpinski XY and are protected by copyright and other intellectual property laws. You may not use, reproduce, modify, or distribute any Artworks without express written permission from Karpinski XY.</p>
            
            <h3 id="use-of-site">3. Use of Site</h3>
            <ul>
                <li>You are granted a limited, non-exclusive, non-transferable license to access and use the Site strictly in accordance with these Terms.</li>
                <li>As a condition of your use of the Site, you warrant that you will not use the Site for any purpose that is unlawful or prohibited by these Terms.</li>
                <li>You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site.</li>
            </ul>
            
            <h3 id="inquiries">4. Inquiries</h3>
            <ul>
                <li>The Site allows you to make inquiries about the Artworks displayed. Any inquiry does not guarantee the availability or reservation of any Artwork.</li>
                <li>Responses to inquiries are provided at the discretion of Karpinski XY and are subject to availability. Any communication made through the Site’s inquiry system or email does not constitute a legal agreement or an offer to sell.</li>
            </ul>
            
            <h3 id="changes-to-terms">5. Changes to Terms</h3>
            <p>Karpinski XY reserves the right to update or modify these Terms at any time. It is your responsibility to review this page periodically for updates. Continued use of the Site after changes have been posted constitutes acceptance of the updated Terms.</p>
            
            <h3 id="contact-information">6. Contact Information</h3>
            <p>If you have questions about these Terms, please contact us using the contact form on the Site.</p>
            
            <h3 id="governing-law">7. Governing Law</h3>
            <p>These Terms are governed by and construed in accordance with the laws of Poland.</p>
            
            <h3 id="severability">8. Severability</h3>
            <p>If any provision of these Terms is found to be unenforceable, the remaining provisions will remain in full force and effect.</p>
            
            <h3 id="entire-agreement">9. Entire Agreement</h3>
            <p>These Terms represent the entire agreement between you and Karpinski XY concerning your use of the Site, superseding any prior agreements or communications.</p>
            
            <p>By using our Site, you acknowledge that you have read, understood, and agree to these Terms and Conditions.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
