::ng-deep.uploaded-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

::ng-deep.uploaded-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  .checkbox-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
  }

  .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    width: 20px;  /* Square dimensions */
    height: 20px; 
    border-radius: 5px;  /* Square dimensions */
    display: flex;  /* Flexbox layout */
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
  }
}
.uploaded-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.disabled-btn {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  &:disabled {
      &::before,
      &::after {
        background-color: transparent !important;  // Overwrite background color
        color: inherit !important;  // Overwrite text color
      }
    }
}






