<div class="row pt-45">
    <ng-container *ngIf="(portfolioPaintings$ | async) as paintings">
        <div *ngIf="paintings.length === 0">
          <h4>Nothing to show here</h4>
        </div>
        <div class="col-lg-4 col-md-6" *ngFor="let painting of paintings">
            <div class="service-card">
                <a routerLink="/paintings-details/{{painting.id}}"><img [src]="painting.paintingImages[0].imagePath" width="450" height="420" alt="Service Images"></a>
    
                <div class="service-content">
                    <a routerLink="/paintings-details/{{painting.id}}"><h3>{{painting.name}}</h3></a>
                    <p>{{painting.shortDescription}}</p>
                    <p *ngIf="(isLoggedIn$ | async)">
                        <i class='bi bi-trash3' id="trashbutton" type="button" (click)="onDeleteClick(painting.id)"></i>
                        <i class='bi bi-pencil' id="pencilbutton" type="button" (click)="onEditPainting(painting.id)"></i>
                      </p>
                </div>
            </div>
        </div>
    </ng-container>
</div>
