<div class="portfolio-masonry">
    <ng-container *ngIf="(portfolioPaintings$ | async) as paintings">
        <div *ngIf="paintings.length === 0">
            <h4>Nothing to show here</h4>
        </div>
        <div class="masonry-item" *ngFor="let painting of paintings">
            <div class="service-card">
                <a routerLink="/paintings-details/{{painting.id}}">
                    <img [src]="apiUrl + painting.paintingImages[0]?.imagePath">
                    <p *ngIf="(isLoggedIn$ | async)">
                        <i class='bi bi-trash3' id="trashbutton" type="button" (click)="onDeleteClick(painting.id)"></i>
                        <i class='bi bi-pencil' id="pencilbutton" type="button" (click)="onEditPainting(painting.id)"></i>
                    </p>
                </a>
            </div>
        </div>
    </ng-container>
</div>


