<app-navbar></app-navbar>

<div class="container-fluid">
  <form [formGroup]="createExhibitionForm" (ngSubmit)="createExhibition()" id="createExhibition" aria-label="Create Exhibition Form">
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-6">
        <div class="contact-wrap pt-45">
          <div class="contact-wrap-form">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <!-- Title Field -->
                <div class="form-group">
                  <label for="title" class="visually-hidden">Title of the Exhibition</label>
                  <input type="text" name="title" id="title" class="form-control" placeholder="Title of the exhibition" formControlName="title" aria-required="true">
                </div>
                <div *ngIf="f.title?.touched && f.title?.errors?.['required']" class="alert alert-danger">This field is required</div>

                <!-- Start Date Field -->
                <div class="form-group">
                  <label for="startDate" class="visually-hidden">Start Date</label>
                  <input type="date" name="startDate" id="startDate" class="form-control" formControlName="startDate" aria-required="true">
                </div>
                <div *ngIf="f.startDate?.touched && f.startDate?.errors?.['required']" class="alert alert-danger">This field is required</div>

                <!-- End Date Field -->
                <div class="form-group">
                  <label for="endDate" class="visually-hidden">End Date</label>
                  <input type="date" name="endDate" id="endDate" class="form-control" formControlName="endDate" aria-required="true">
                </div>
                <div *ngIf="f.endDate?.touched && f.endDate?.errors?.['required']" class="alert alert-danger">This field is required</div>

                <!-- Location Field -->
                <div class="form-group">
                  <label for="location" class="visually-hidden">Location</label>
                  <input type="text" name="location" id="location" class="form-control" placeholder="Location" formControlName="location">
                </div>
              </div>

              <div class="col-lg-6 col-sm-6">
                <!-- Organizer Field -->
                <div class="form-group">
                  <label for="organizer" class="visually-hidden">Organizer</label>
                  <input type="text" name="organizer" id="organizer" class="form-control" placeholder="Organizer" formControlName="organizer">
                </div>

                <!-- Link Field -->
                <div class="form-group">
                  <label for="link" class="visually-hidden">Link</label>
                  <input type="text" name="link" id="link" class="form-control" placeholder="Link" formControlName="link">
                </div>
              </div>
            </div>

            <!-- Long Description Field -->
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="longDescription" class="visually-hidden">Long Description</label>
                  <textarea class="form-control" rows="8" name="longDescription" id="longDescription" placeholder="Long description of the exhibition" formControlName="longDescription"></textarea>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
              <div class="col-12 text-left">
                <button type="submit" class="default-btn page-btn text-center" [disabled]="(loading$ | async) || !createExhibitionForm.valid" 
                [ngClass]="{'disabled-btn': (loading$ | async) || !createExhibitionForm.valid}" aria-label="Submit Create Exhibition Form">Create Exhibition</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-md-6">
        <div class="contact-wrap pt-45">
          <div class="contact-wrap-form">
            <!-- Uploaded Images -->
            <div formArrayName="exhibitionImages" class="uploaded-images" aria-label="Uploaded Exhibition Images">
              <div *ngFor="let image of exhibitionImages; let i = index" class="uploaded-image">
                <div [formGroupName]="i">
                  <img [src]="'data:image/png;base64,' + image.file" alt="Uploaded Exhibition Image {{ i + 1 }}">
                  <div class="checkbox-container">
                    <input type="checkbox" formControlName="isMainImage" id="isMainImage{{ i }}">
                    <label for="isMainImage{{ i }}">&nbsp;Set as Main</label>
                  </div>
                  <button type="button" class="delete-icon" attr.aria-label="Delete Image {{ i + 1 }}" (click)="onDeleteImage(i)">X</button>
                </div>
              </div>
            </div>

            <!-- Image Upload Button -->
            <div class="image-upload-btn">
              <label for="multiImageUpload" class="visually-hidden">Upload Multiple Images</label>
              <input type="file" id="multiImageUpload" (change)="onMultipleImageUpload($event)" multiple aria-label="Upload multiple images">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
