<app-navbar></app-navbar>
<div class="container-fluid">
  <form [formGroup]="createExhibitionForm" (ngSubmit)="createExhibition()" id="createExhibition">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-wrap pt-45">
          <div class="contact-wrap-form">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <input type="text" name="title" id="title" class="form-control" placeholder="Title of the exhibition" formControlName="title">
                </div>
                <div *ngIf="f.title?.touched && f.title?.errors?.['required']" class="alert alert-danger">
                  This field is required
                </div>

                <div class="form-group">
                  <input type="date" name="startDate" id="startDate" class="form-control" placeholder="Start Date" formControlName="startDate">
                </div>
                <div *ngIf="f.startDate?.touched && f.startDate?.errors?.['required']" class="alert alert-danger">
                  This field is required
                </div>

                <div class="form-group">
                  <input type="date" name="endDate" id="endDate" class="form-control" placeholder="End Date" formControlName="endDate">
                </div>
                <div *ngIf="f.endDate?.touched && f.endDate?.errors?.['required']" class="alert alert-danger">
                  This field is required
                </div>

                <div class="form-group">
                  <input type="text" name="location" id="location" class="form-control" placeholder="Location" formControlName="location">
                </div>

              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                  <textarea class="form-control" row=3 name="shortDescription" id="shortDescription" placeholder="Short description of the exhibition" formControlName="shortDescription"></textarea>
                </div>
                <div *ngIf="f.shortDescription?.touched && f.shortDescription?.errors?.['required']" class="alert alert-danger">
                  This field is required
                </div>

                <div class="form-group">
                  <input type="text" name="organizer" id="organizer" class="form-control" placeholder="Organizer" formControlName="organizer">
                </div>

                <div class="form-group">
                  <input type="text" name="link" id="link" class="form-control" placeholder="Link" formControlName="link">
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control" rows="8" name="longDescription" id="longDescription" placeholder="Long description of the exhibition" formControlName="longDescription"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-left">
                <button type="submit" class="default-btn page-btn text-center" [disabled]="!createExhibitionForm.valid" [ngClass]="{'disabled-btn': !createExhibitionForm.valid}">Create Exhibition</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-wrap pt-45">
          <div class="contact-wrap-form">
            <div formArrayName="exhibitionImages" class="uploaded-images">
              <div *ngFor="let image of exhibitionImages; let i = index" class="uploaded-image">
                <div [formGroupName]="i">
                  <img [src]="'data:image/png;base64,' + image.file" alt="Uploaded Exhibition Image">
                  <div class="checkbox-container">
                    <input type="checkbox" formControlName="isMainImage">
                    <label>&nbsp;Set as Main</label>
                  </div>
                  <div class="delete-icon" (click)="onDeleteImage(i)">X</div>
                </div>
              </div>
            </div>
            <div class="image-upload-btn">
              <input type="file" id="multiImageUpload" (change)="onMultipleImageUpload($event)" multiple>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
<app-footer></app-footer>
