<app-navbar></app-navbar>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>About me</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>About me</li>
            </ul>
        </div>
    </div>
</div>

<div class="about-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="assets/img/about/Pawel.jpg" alt="About Images">

                    <div class="about-bg-shape">
                        <img src="assets/img/about/bg-shape.png" alt="About Shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-content">
                    <span>About me</span>
                    <h2>Where I come from</h2>
                    <p>I was born in Radom, Poland, and grew up in Tarnobrzeg. After earning my degree from Wroclaw
                        University of Economics in 2011,
                        I continued to expand my education and artistic horizons. In 2019, I graduated from the
                        Eugeniusz Geppert Academy of Fine Arts and Design in Wroclaw,
                        where I studied painting under the tutelage of Prof. Piotr Błażejewski and Dr. Anna
                        Kołodziejczyk.</p>
                    <p>My artistic work spans various mediums—from drawing and painting to scetches and architecturial
                        design.
                        In parallel to my life in art, I have built a career in finance, where I currently work as a
                        financial controller for a multinational company.</p>
                    <!-- <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That homeless, won't many of goals thoughts volumes felt with of as he this its tend broad. Well, were make come when from would area page.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <section class="choose-area ptb-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Why Choose Us</span>
            <h2>Dizo is a Trusted Printing Service</h2>
            <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That homeless, won't many of goals thoughts volumes felt.</p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-box'></i>
                    <h3>Trusted Company</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxs-coin-stack'></i>
                    <h3>Budget Oriented</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxs-truck'></i>
                    <h3>Fast Service</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxl-creative-commons'></i>
                    <h3>Quality Work</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-brush' ></i>
                    <h3>Emergency Print</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-paint'></i>
                    <h3>Preready Print</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-like'></i>
                    <h3>Satisfaction Revisions</h3>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-money'></i>
                    <h3>Money Back Guarantee</h3>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="service-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Services</span>
            <h2>Dizo Provide Good Quality Printing Services</h2>
            <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That homeless, won't many of goals thoughts volumes felt.</p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/service/service1.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services"><h3>Brand Identy</h3></a>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit, sed do eiusmo gd  tempor incididunt ut labore.</p>
                        <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/service/service2.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services"><h3>Package Design</h3></a>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit, sed do eiusmo gd  tempor incididunt ut labore.</p>
                        <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/service/service3.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services"><h3>Pattern Design</h3></a>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit, sed do eiusmo gd  tempor incididunt ut labore.</p>
                        <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/service/service4.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services"><h3>Book Cover</h3></a>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit, sed do eiusmo gd  tempor incididunt ut labore.</p>
                        <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/service/service5.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services"><h3>T-shirt Design</h3></a>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit, sed do eiusmo gd  tempor incididunt ut labore.</p>
                        <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/service/service6.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services"><h3>Brochure Design</h3></a>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit, sed do eiusmo gd  tempor incididunt ut labore.</p>
                        <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="testimonial-area-two ptb-100">
    <div class="container">
        <div class="scetion-title text-center">
            <span>The process</span>
            <h2 class="text-white">Allow me to walk you through my painting process</h2>
            <p class="text-white">The creation of a painting is a journey of transformation and expression, where an initial spark of inspiration evolves through various stages into a captivating piece of art. Each step, from the selection of colors to the meticulous layering, plays a vital role in bringing the artist's vision to life, crafting a visual narrative that speaks both to the creator and the audience.</p>
        </div>

        <div class="testimonial-slider-two owl-carousel owl-theme pt-45">
            <div class="testimonial-card">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="testimonial-card-content">
                            <h3>Inspiration</h3>
                            <p>The journey begins with a spark of inspiration, where ideas and emotions blend to form the concept of the artwork</p>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="testimonial-img-2">
                            <img src="assets/img/about/inspiration.jpg" alt="Testimonial Images">
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-card">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="testimonial-card-content">
                            <h3>Color Selection</h3>
                            <p>This stage involves carefully choosing a palette, where each color is selected for its ability to convey the intended mood and atmosphere.</p>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="testimonial-img-2">
                            <img src="assets/img/about/paint.jpg" alt="Testimonial Images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="testimonial-card-content">
                            <h3>Shape Outlining</h3>
                            <p> Here, the initial outlines and shapes are drawn, laying the foundation for the painting's structure and composition.</p>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="testimonial-img-2">
                            <img src="assets/img/about/shaping.jpg" alt="Testimonial Images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="testimonial-card-content">
                            <h3>Layers</h3>
                            <p>This crucial phase involves applying layers of paint, each adding depth, texture, and richness to the composition, enhancing the visual impact of the artwork.</p>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="testimonial-img-2">
                            <img src="assets/img/about/layers.jpg" alt="Testimonial Images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="testimonial-card-content">
                            <h3>Finishing touches</h3>
                            <p>  In the final stage, detailed elements and refinements are added, bringing the painting to life with its full depth and vibrancy.                            </p>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="testimonial-img-2">
                            <img src="assets/img/about/final.jpg" alt="Testimonial Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial-icon">
        <i class='bx bxs-quote-alt-right'></i>
    </div>
</div>
<br>
<br>
<br>
<br>
<!-- <div class="designer-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Our Designer</span>
            <h2>Our Company Leads by Professional Designer</h2>
            <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That homeless, won't many of goals thoughts volumes felt.</p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/designer"><img src="assets/img/designer/designer1.jpg" alt="Designer Images"></a>
                    </div>

                    <div class="designer-content">
                        <a routerLink="/designer"><h3>John Doe</h3></a>
                        <span>Director</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank" ><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank" ><i class='bx bxl-twitter' ></i></a></li>
                                <li><a href="#" target="_blank" ><i class='bx bxl-instagram' ></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/designer"><img src="assets/img/designer/designer2.jpg" alt="Designer Images"></a>
                    </div>
                    <div class="designer-content">
                        <a routerLink="/designer"><h3>John Smith</h3></a>
                        <span>Product Designer</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank" ><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank" ><i class='bx bxl-twitter' ></i></a></li>
                                <li><a href="#" target="_blank" ><i class='bx bxl-instagram' ></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/designer"><img src="assets/img/designer/designer3.jpg" alt="Designer Images"></a>
                    </div>

                    <div class="designer-content">
                        <a routerLink="/designer"><h3>Evanaa</h3></a>
                        <span>llustrator Designer</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank" ><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank" ><i class='bx bxl-twitter' ></i></a></li>
                                <li><a href="#" target="_blank" ><i class='bx bxl-instagram' ></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/designer"><img src="assets/img/designer/designer4.jpg" alt="Designer Images"></a>
                    </div>

                    <div class="designer-content">
                        <a routerLink="/designer"><h3>Knot Doe</h3></a>
                        <span>Mockup Specialist</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank" ><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank" ><i class='bx bxl-twitter' ></i></a></li>
                                <li><a href="#" target="_blank" ><i class='bx bxl-instagram' ></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-footer></app-footer>