<app-navbar></app-navbar>

<div class="inner-banner inner-bg12">
    <div class="container">
        <div class="inner-title">
            <h3>Contact Us</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-area ptb-100">
    <div class="scetion-title text-center">
        <span>Contact Us</span>
        <h2>Drop Your Message</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </div>

    <div class="container">
        <div class="contact-wrap pt-45">
            <div class="contact-wrap-form">
                 <form id="contactForm" [formGroup]="contactForm">
                     <div class="row">
                         <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" 
                                placeholder="Your Name" formControlName="name">
                            </div>
                            <div *ngIf="name?.touched && name?.errors?.['required']" class="alert alert-danger">
                                This field is required</div>
                         </div>

                         <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" 
                                placeholder="Your Email" formControlName="email">
                            </div>
                            <div *ngIf="email?.touched && email?.errors?.['required']" class="alert alert-danger">This field
                                is required</div>
                            <div *ngIf="email?.touched && email?.errors?.email" class="alert alert-danger">Email must be a
                                valid email address</div>
                         </div>

                         <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="phone_number" id="phone_number" 
                                class="form-control" placeholder="+(country code)(phone number)" formControlName="phoneNumber">
                            </div>
                            <!-- <div *ngIf="f.phoneNumber.errors.pattern"
                            class="alert alert-danger">Phone number is not valid
                        </div> -->
                         </div>

                         <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="msg_subject" id="msg_subject" class="form-control" 
                                placeholder="Your Subject" formControlName="subject">
                            </div>
                         </div>

                         <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="content" class="form-control" id="content" cols="30" rows="8" 
                                placeholder="Your Message" formControlName="content"></textarea>
                            </div>
                            <div *ngIf="content?.touched && content?.errors?.['required']" class="alert alert-danger">This
                                field is required</div>
                            <div *ngIf="content?.touched && content?.errors?.minlength" class="alert alert-danger">
                                The minimum length is {{ content.errors.minlength.requiredLength }} characters.</div>
                         </div>

                         <div class="col-lg-12 col-md-12 text-center">
                            <button type="submit" class="default-btn page-btn text-center" [disabled]="!contactForm.valid" 
                            [ngClass]="{'disabled-btn': !contactForm.valid}" (click)="onSubmitForm()"
                            >Send Message</button>
                         </div>
                     </div>
                 </form>
            </div>
         </div>
    </div>
</div>

<app-footer></app-footer>