<app-navbar></app-navbar>

<div class="inner-banner inner-bg8">
    <div class="container">
        <div class="inner-title">
            <h3>Services</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>

<section class="service-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Services</span>
            <h2>Dizo Provide Good Quality Printing Services</h2>
            <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That homeless, won't many of goals thoughts volumes felt.</p>
        </div>
      <app-portfolio-card></app-portfolio-card>
    </div>
</section>

<app-footer></app-footer>