<div class="row pt-45" >
    <div class="col-lg-4 col-md-6" *ngFor="let painting of paintings">
        <h4 *ngIf="paintings.length===0">Nothing to show here</h4>
        <div class="service-card">
            <a routerLink="/paintings-details/{{painting.id}}"><img src="{{apiUrl}}{{painting.imageUrl}}" alt="Service Images"
                width="450" height="420"></a>

            <div class="service-content">
                <a routerLink="/paintings-details/{{painting.id}}"><h3>{{painting.name}}</h3></a>
                <p>{{painting.description}}</p>
                <p> Dimensions: {{painting.dimensions}}</p>
                <p *ngIf="(isLoggedIn$ | async)">Price: {{painting.price}}</p>

            <p *ngIf="(isLoggedIn$ | async)">
                <i class='bi bi-trash3' id="trashbutton" type="button" (click)="onDeleteClick(painting.id)"></i>
                <i class='bi bi-pencil' id="pencilbutton" type="button" (click)="onEditPainting(painting.id)"></i>
            </p>
                <a routerLink="/contact" class="default-btn" (click)="onMakeinquiryClick(painting.name)">Make inquiry</a>
            </div>
        </div>
    </div>
</div>
