<app-navbar></app-navbar>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>Exhibitions</h3>
            <ul>
                <li><a routerLink="/" aria-label="Navigate to the home page">Home</a></li>
                <li><i class="bx bxs-chevrons-right" aria-hidden="true"></i></li>
                <li>Exhibitions</li>
            </ul>
        </div>
    </div>
</div>

<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Exhibitions</span>
            <h2>Some exhibitions my art has been a part of</h2>
            <p>Discover a collection of exhibitions that have featured my art, showcasing its journey and impact across various venues.</p>
        </div>
        <!-- Exhibitions Component -->
        <app-exhibition-card></app-exhibition-card>
    </div>
</div>

<app-footer></app-footer>
