<div class="preloader" aria-hidden="true">
    <div class="d-table">
        <div class="d-table-cell">
            <!-- Preloader Logo -->
            <div class="pre-img">
                <img src="assets/img/footer-logo8.png" alt="Karpinski XY Preloader Logo" aria-hidden="true">
            </div>

            <!-- Preloader Spinner -->
            <div class="spinner" aria-label="Loading">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
            </div>
        </div>
    </div>
</div>
