<app-navbar></app-navbar>
<div class="container-fluid">
    <form [formGroup]="editPaintingForm" (ngSubmit)="editPainting()" id="createPainting">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-wrap pt-45">
                    <div class="contact-wrap-form">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control"
                                        placeholder="Name of the painting" formControlName="name">
                                </div>
                                <div *ngIf="f.name?.touched && f.name?.errors?.['required']" class="alert alert-danger">
                                    This field is required
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" row=3 name="description" id="shortDescription"
                                        placeholder="Short description of the painting"
                                        formControlName="shortDescription">
                                </textarea>
                                </div>
                                <div *ngIf="f.shortDescription?.touched && f.shortDescription?.errors?.['required']"
                                    class="alert alert-danger">This field is required
                                </div>

                                <div class="form-group">
                                    <input type="text" name="price" id="price" class="form-control" required
                                        placeholder="Price" formControlName="price">
                                </div>
                                <div *ngIf="f.price?.touched && f.price?.errors?.['required']"
                                    class="alert alert-danger">
                                    This field is
                                    required
                                </div>
                                <div *ngIf="f.price.errors?.pattern" class="alert alert-danger">Only numbers are
                                    allowed!
                                </div>

                                <div class="form-group">
                                    <input type="text" name="dimensions" id="dimensions" class="form-control"
                                        placeholder="Dimensions" formControlName="dimensions">
                                </div>
                                <div *ngIf="f.dimensions?.touched && f.dimensions?.errors?.['required']"
                                    class="alert alert-danger">This
                                    field is required
                                </div>

                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="size" id="technique" class="form-control"
                                        placeholder="Technique" formControlName="technique">
                                </div>
                                <div *ngIf="f.technique?.touched && f.technique?.errors?.['required']"
                                    class="alert alert-danger">This
                                    field is required
                                </div>

                                <div class="form-group">
                                    <input type="text" name="year" id="year" class="form-control" required
                                        placeholder="Year" formControlName="year">
                                </div>
                                <div *ngIf="f.year?.touched && f.year?.errors?.['required']" class="alert alert-danger">
                                    This field is required
                                </div>
                                <div *ngIf="f.year.errors?.pattern" class="alert alert-danger">
                                    Only numbers are allowed!
                                </div>
                                <div class="form-group">
                                    <label>Is it available for sale</label>
                                    <div class="form-check-label">
                                        <label class="radio-inline">
                                            <input class="form-check-input" type="radio" name="isAvailableToSell"
                                                formControlName="isAvailableToSell" [value]="true" selected>&nbsp;Yes
                                        </label>&nbsp;
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="isAvailableToSell"
                                                formControlName="isAvailableToSell" [value]="false">&nbsp;No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Is painting on focus</label>
                                    <div class="form-check-label">
                                        <label class="radio-inline">
                                            <input class="form-check-input" type="radio" name="isOnFocus"
                                                formControlName="isOnFocus" [value]="true" selected>&nbsp;Yes
                                        </label>&nbsp;
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="isOnFocus"
                                                formControlName="isOnFocus" [value]="false">&nbsp;No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                              <div class="form-group">
                                <textarea class="form-control" rows="8" name="description" id="description"
                                  placeholder="Description of the painting" formControlName="description">
                                </textarea>
                              </div>
                              <div *ngIf="f.description?.touched && f.description?.errors?.['required']" class="alert alert-danger">
                                This field is required
                              </div>
                            </div>
                          </div>

                        <!-- Submit Button -->
                        <div class="row">
                            <div class="col-12 text-left">
                                <button type="submit" class="default-btn page-btn text-center"
                                    [disabled]="!editPaintingForm.valid"
                                    [ngClass]="{'disabled-btn': !editPaintingForm.valid}">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-md-6">
                <div class="contact-wrap pt-45">
                    <div class="contact-wrap-form">
                        <!-- Uploaded Images -->
                        <div class="uploaded-images">
                            <div formArrayName="images" class="uploaded-images">
                                <div *ngFor="let image of images; let i = index" class="uploaded-image">
                                    <div [formGroupName]="i">
                                        <img [src]="'data:image/jpeg;base64,' + image.file" alt="Uploaded Painting">
                                        <div class="radio-container">
                                            <input type="radio" name="isMainImage" [value]="i" formControlName="isMainImage">
                                            <label>&nbsp;Set as Main</label>
                                        </div>
                                        <div class="delete-icon" (click)="onDeleteImage(i)">X</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Image Upload Button -->
                        <div class="image-upload-btn">
                            <input type="file" id="multiImageUpload" (change)="onMultipleImageUpload($event)" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Footer -->
<app-footer></app-footer>