input[type="radio"]{
    margin-left:20px ;
    margin-right:5px ;
  }
  .imagePreview{
    max-height: 50px;
    max-width: 350px;

// object-position: absolute;
right:0%;

float: right;
  }

  .upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
  }

  div{
    overflow: auto ;
  }
  app-upload-painting{
    bottom: 0;
  }