<footer class="footer-area">
    <div class="container">
        <div class="footer-contact">
            <div class="newsleter-area">
                <h2>Subscribe Our Newsletter</h2>
                
                <form class="newsletter-form">
                    <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL">
                    <button class="subscribe-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>

        <div class="footer-top-list pb-70">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-list">
                        <h3>Social Media</h3>

                        <ul>
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i>     Pawliushko</a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i>      Cheeckies</a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i>      Kenji</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-list">

                        <h3>Quick Links</h3>
                        <ul>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/faq">FAQ</a></li>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/terms-conditions">Terms and Conditions</a></li>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-side-list">
                        <h3>Contact Me</h3>

                        <ul>
                            <li><i class='bx bxl-telegram'></i> <a href="mailto:email@dizo.com">email@dizo.com</a></li>
                            <li><i class='bx bxl-telegram'></i> <a href="mailto:hello@dizo.com">hello@dizo.com</a></li>
                            <li><i class='bx bxs-map'></i> 28/A Street, New York, USA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <div class="footer-logo">
                        <img src="assets/img/footer-logo.png" alt="Footer Logo">
                    </div>
                </div>

                <div class="col-lg-8 col-md-9">
                    <div class="bottom-text">
                        <p>© Pawliushko is Proudly Owned by <a href="https://hibootstrap.com/" target="_blank">Swetliushko</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>