.disabled-btn {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    &:disabled {
      &::before,
      &::after {
        background-color: transparent !important;
        color: inherit !important;
      }
    }
  }