<app-navbar></app-navbar>

<div class="main-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Text Content -->
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1>Don’t Change Reality, Create It</h1>
                    <p>
                        My reflections are not singular in nature, nor are they an attempt to give a solution.
                        Instead, they are a declaration of existence and a materialization of a state that, among its participants,
                        is an everyday, unnoticed naturalness.
                    </p>
                </div>
            </div>

            <!-- Image and Carousel -->
            <div class="col-lg-6 pr-0">
                <div class="banner-img">
                    <img src="{{homePagePaitingsUrl}}1.jpeg" alt="Featured artwork banner" >
                    <div class="banner-into-slider owl-carousel owl-theme">
                        <!-- Painting 1 -->
                        <div class="banner-item" [style.visibility]="(paintingsOnFocus$ | async)?.[0] ? 'visible' : 'hidden'" [style.opacity]="(paintingsOnFocus$ | async)?.[0] ? 1 : 0">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[0]?.paintingImages?.[0]?.imagePath as imagePath"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[0]?.id}}" target="_blank"
                                attr.aria-label="View details of painting 1">
                                <img [src]="apiUrl + imagePath" alt="Painting 1: {{(paintingsOnFocus$ | async)?.[0]?.name}}" class="portfolio-image" loading="eager">
                            </a>
                        </div>
                        <!-- Painting 2 -->
                        <div class="banner-item"  [style.visibility]="(paintingsOnFocus$ | async)?.[1] ? 'visible' : 'hidden'" [style.opacity]="(paintingsOnFocus$ | async)?.[1] ? 1 : 0">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[1]?.paintingImages?.[0]?.imagePath as imagePath"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[1]?.id}}" target="_blank"
                                attr.aria-label="View details of painting 2">
                                <img [src]="apiUrl + imagePath" alt="Painting 2: {{(paintingsOnFocus$ | async)?.[1]?.name}}" class="portfolio-image" loading="eager">
                            </a>
                        </div>
                        <!-- Painting 3 -->
                        <div class="banner-item"  [style.visibility]="(paintingsOnFocus$ | async)?.[2] ? 'visible' : 'hidden'" [style.opacity]="(paintingsOnFocus$ | async)?.[2] ? 1 : 0">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[2]?.paintingImages?.[0]?.imagePath as imagePath"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[2]?.id}}" target="_blank"
                                attr.aria-label="View details of painting 3">
                                <img [src]="apiUrl + imagePath" alt="Painting 3: {{(paintingsOnFocus$ | async)?.[2]?.name}}" class="portfolio-image" loading="eager">
                            </a>
                        </div>
                        <!-- Painting 4 -->
                        <div class="banner-item" [style.visibility]="(paintingsOnFocus$ | async)?.[3] ? 'visible' : 'hidden'" [style.opacity]="(paintingsOnFocus$ | async)?.[3] ? 1 : 0">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[3]?.paintingImages?.[0]?.imagePath as imagePath"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[3]?.id}}" target="_blank"
                                attr.aria-label="View details of painting 4">
                                <img [src]="apiUrl + imagePath" alt="Painting 4: {{(paintingsOnFocus$ | async)?.[3]?.name}}" class="portfolio-image" loading="eager">
                            </a>
                        </div>
                        <!-- Painting 5 -->
                        <div class="banner-item" [style.visibility]="(paintingsOnFocus$ | async)?.[4] ? 'visible' : 'hidden'" [style.opacity]="(paintingsOnFocus$ | async)?.[4] ? 1 : 0">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[4]?.paintingImages?.[0]?.imagePath as imagePath"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[4]?.id}}" target="_blank"
                                attr.aria-label="View details of painting 5">
                                <img [src]="apiUrl + imagePath" alt="Painting 5: {{(paintingsOnFocus$ | async)?.[4]?.name}}" class="portfolio-image" loading="eager">
                            </a>
                        </div>
                        <!-- Painting 6 -->
                        <div class="banner-item" [style.visibility]="(paintingsOnFocus$ | async)?.[5] ? 'visible' : 'hidden'" [style.opacity]="(paintingsOnFocus$ | async)?.[5] ? 1 : 0">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[5]?.paintingImages?.[0]?.imagePath as imagePath"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[5]?.id}}" target="_blank"
                                attr.aria-label="View details of painting 6">
                                <img [src]="apiUrl + imagePath" alt="Painting 6: {{(paintingsOnFocus$ | async)?.[5]?.name}}" class="portfolio-image" loading="eager">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- About Image Section -->
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="assets/img/about/Pawel.jpg" alt="Portrait of Pawel Kaprinski, the artist" loading="lazy">
                    <div class="about-bg-shape">
                        <!-- <img src="assets/img/about/bg-shape.png" alt="Decorative background shape" loading="lazy"> -->
                    </div>
                </div>
            </div>

            <!-- About Content Section -->
            <div class="col-lg-7">
                <div class="about-content">
                    <span>About Me</span>
                    <h2>A corporate by day</h2>
                    <p>
                        My name is Pawel Karpinski, I was born in Radom, Poland, and grew up in Tarnobrzeg. 
                        I moved to Wroclaw in 2006 to study finance. After earning my degree from Wroclaw University of Economics in 2011, 
                        I continued to expand my education and artistic horizons. In 2019, I graduated from the Eugeniusz Geppert Academy of Fine Arts and Design in Wroclaw, 
                        where I studied painting under the tutelage of Prof. Piotr Błażejewski and Dr. Anna Kołodziejczyk.
                    </p>
                    <p>
                        I moved to Zurich in 2022 and since then my work focuses on observing and understanding how Swiss society works and how it interacts with nature. 
                        As an immigrant, I can see things from the inside, but as an outsider, I have to come to my own conclusions.
                    </p>
                    <div class="about-btn">
                        <a routerLink="/about" class="know-more-btn" aria-label="Learn more about Pawel Kaprinski">About Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Decorative Shape -->
    <div class="about-shape">
        <img src="assets/img/about/shape1.png" alt="Abstract decorative shape">
    </div>
</div>


<!-- Available Paintings (Stacked Grid) -->
<section class="product-area pb-70">
    <div class="container" *ngIf="(availablePaintings$ | async)?.length">
        <!-- Section Title -->
        <header class="section-title text-center">
            <span>Paintings</span>
            <h2>Available Works</h2>
            <p>
                I would like to share a brief representation of my current state of mind, giving you an inside look
                with surgical precision.
            </p>
        </header>
        <br>
        <ng-container>
            <div class="row">
                <!-- Display each painting in a stacked grid layout -->
                <div class="col-lg-4 col-md-6" *ngFor="let painting of (availablePaintings$ | async)">
                    <article class="service-card">
                        <a routerLink="/paintings-details/{{painting.id}}" attr.aria-label="View details of painting: {{ painting.name }}">
                            <img [src]="apiUrl + painting.paintingImages[0]?.imagePath" 
                                 alt="Painting: {{ painting.name }}" 
                                 width="400" 
                                 height="380"
                                 loading="lazy">
                        </a>
                        <div class="service-content">
                            <a routerLink="/paintings-details/{{painting.id}}" attr.aria-label="View details of painting: {{ painting.name }}">
                                <h3>{{ painting.name }}</h3>
                            </a>
                            <p><span>{{ painting.dimensions }}</span></p>
                            <!-- The Make Inquiry button only for Available Paintings -->
                            <a routerLink="/contact" class="default-btn" 
                               (click)="onMakeinquiryClick(painting.name)" 
                               attr.aria-label="Make an inquiry about painting: {{ painting.name }}">Make Inquiry</a>
                        </div>
                    </article>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<!-- Portfolio (Carousel) -->
<section class="service-area pb-70" *ngIf="(portfolioPaintings$ | async)?.length > 0">
    <div class="container" *ngIf="portfolioPaintings$ | async as paintings">
        <div class="scetion-title text-center">
            <span>Portfolio</span>
            <h2>My Work Throughout the Years</h2>
            <p>I invite you to trace back how my painting style, inspirations, technique, and perceptions have evolved over the years.</p>
        </div>

        <div class="service-slider owl-carousel owl-theme pt-45">
            <div class="service-card" [style.visibility]="paintings[0] ? 'visible' : 'hidden'" [style.opacity]="paintings[0] ? 1 : 0">
                <a routerLink="/paintings-details/{{paintings[0]?.id}}">
                    <img [src]="apiUrl + paintings[0]?.paintingImages[0]?.imagePath" alt="{{ paintings[0]?.name }}" style="height: 350px; width: 100%; object-fit: cover;">
                </a>

                <div class="service-content">
                    <a routerLink="/paintings-details/{{paintings[0]?.id}}">
                        <h3>{{ paintings[0]?.name }}</h3>
                    </a>
                    <p>{{ paintings[0]?.dimensions }}</p>
                </div>
            </div>

            <div class="service-card" [style.visibility]="paintings[1] ? 'visible' : 'hidden'" [style.opacity]="paintings[1] ? 1 : 0">
                <a routerLink="/paintings-details/{{paintings[1]?.id}}">
                    <img [src]="apiUrl + paintings[1]?.paintingImages[0]?.imagePath" alt="{{ paintings[1]?.name }}" style="height: 350px; width: 100%; object-fit: cover;">
                </a>

                <div class="service-content">
                    <a routerLink="/paintings-details/{{paintings[1]?.id}}">
                        <h3>{{ paintings[1]?.name }}</h3>
                    </a>
                    <p>{{ paintings[1]?.dimensions }}</p>
                </div>
            </div>

            <div class="service-card" [style.visibility]="paintings[2] ? 'visible' : 'hidden'" [style.opacity]="paintings[2] ? 1 : 0">
                <a routerLink="/paintings-details/{{paintings[2]?.id}}">
                    <img [src]="apiUrl + paintings[2]?.paintingImages[0]?.imagePath" alt="{{ paintings[2]?.name }}" style="height: 350px; width: 100%; object-fit: cover;">
                </a>

                <div class="service-content">
                    <a routerLink="/paintings-details/{{paintings[2]?.id}}">
                        <h3>{{ paintings[2]?.name }}</h3>
                    </a>
                    <p>{{ paintings[2]?.dimensions }}</p>
                </div>
            </div>

            <div class="service-card" [style.visibility]="paintings[3] ? 'visible' : 'hidden'" [style.opacity]="paintings[3] ? 1 : 0">
                <a routerLink="/paintings-details/{{paintings[3]?.id}}">
                    <img [src]="apiUrl + paintings[3]?.paintingImages[0]?.imagePath" alt="{{ paintings[3]?.name }}" style="height: 350px; width: 100%; object-fit: cover;">
                </a>

                <div class="service-content">
                    <a routerLink="/paintings-details/{{paintings[3]?.id}}">
                        <h3>{{ paintings[3]?.name }}</h3>
                    </a>
                    <p>{{ paintings[3]?.dimensions }}</p>
                </div>
            </div>

            <div class="service-card" [style.visibility]="paintings[4] ? 'visible' : 'hidden'" [style.opacity]="paintings[4] ? 1 : 0">
                <a routerLink="/paintings-details/{{paintings[4]?.id}}">
                    <img [src]="apiUrl + paintings[4]?.paintingImages[0]?.imagePath" alt="{{ paintings[4]?.name }}" style="height: 350px; width: 100%; object-fit: cover;">
                </a>

                <div class="service-content">
                    <a routerLink="/paintings-details/{{paintings[4]?.id}}">
                        <h3>{{ paintings[4]?.name }}</h3>
                    </a>
                    <p>{{ paintings[4]?.dimensions }}</p>
                </div>
            </div>

            <div class="service-card" [style.visibility]="paintings[5] ? 'visible' : 'hidden'" [style.opacity]="paintings[5] ? 1 : 0">
                <a routerLink="/paintings-details/{{paintings[5]?.id}}">
                    <img [src]="apiUrl + paintings[5]?.paintingImages[0]?.imagePath" alt="{{ paintings[5]?.name }}" style="height: 350px; width: 100%; object-fit: cover;">
                </a>

                <div class="service-content">
                    <a routerLink="/paintings-details/{{paintings[5]?.id}}">
                        <h3>{{ paintings[5]?.name }}</h3>
                    </a>
                    <p>{{ paintings[5]?.dimensions }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Exhibitions -->
<section class="blog-area pb-70">
    <div class="container" *ngIf="(exhibitions$ | async).length > 0">
        <header class="section-title text-center">
            <span>Exhibitions</span>
            <h2>A Portion of the Exhibitions I Have Been a Part Of</h2>
            <p>Take a peek at the abstract art showcased in real life.</p>
        </header>

        <div class="row pt-45">
            <ng-container>
                <div class="col-lg-4 col-md-6" *ngFor="let exhibition of (exhibitions$ | async)">
                    <article class="blog-card">
                        <a routerLink="/exhibitions-details/{{exhibition.id}}" attr.aria-label="View details of exhibition: {{ exhibition.title }}">
                            <img [src]="apiUrl + exhibition.exhibitionImages[0]?.imagePath" alt="Exhibition: {{ exhibition.title }} in {{ exhibition.location }}" 
                            class="exhibition-image" loading="lazy">
                        </a>
                        <div class="blog-content">
                            <a routerLink="/exhibitions-details/{{exhibition.id}}" attr.aria-label="Read about exhibition: {{ exhibition.title }}">
                                <h3>{{ exhibition.title }}</h3>
                            </a>
                            <ul class="blog-admin">
                                <li>
                                    <a routerLink="/" attr.aria-label="Exhibition location: {{ exhibition.location }}">
                                        <i class="bi bi-geo-alt-fill"></i> {{ exhibition.location }}
                                    </a>
                                </li>
                                <li>
                                    <i class="bx bx-calendar-alt"></i> {{ exhibition.startDate | date: 'dd/MM/yyyy' }}
                                </li>
                            </ul>
                            <a routerLink="/exhibitions/{{exhibition.id}}" class="read-more-btn" attr.aria-label="Read more about exhibition: {{ exhibition.title }}">
                                Read More <i class="bx bxs-chevrons-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
            </ng-container>
        </div>
    </div>
</section>
<app-footer></app-footer>