.carouselControls{
    margin: 10px
}
.carousel-control-prev, .carousel-control-next {
    width: auto !important;
    top: 100% !important; 
}

.carousel-control-prev {
    left: 0 !important;
    padding-left: 15px !important;
}

.carousel-control-next {
    right: 0 !important;
    padding-right: 15px !important;
}

.banner-item {
    width: 300px;
    height: 250px;
    border-radius: 25px; /* Rounded corners */
    overflow: hidden;    /* Hides the overflow */
    display: flex;       /* Ensures the child elements are centered */
    justify-content: center;
    align-items: center; 
    object-fit: scale-down;
  }

  .banner-img .banner-into-slider .banner-item img{
    object-fit: scale-down;
  }

  .exhibition-image {
    width: 100%;
    height: 350px; /* Adjust as needed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* or 'cover' to fill the space */
    object-fit: cover;
  }
  
  