<app-navbar></app-navbar>

<div class="main-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1>I see the world differently</h1>
                    <p>I embrace a perspective that reveals the hidden wonders in the familiar, transforming the
                        everyday into a canvas of vibrant possibilities.
                        My artistry is a journey through a kaleidoscope of realities.
                        I capture the essence of the unseen, weaving the subtle threads of the ordinary into a tapestry
                        of unexpected shapes and colors.</p>
                    <!-- <div class="banner-btn">
                        <a routerLink="/" class="default-btn">Know More</a>
                        <a routerLink="/product" class="default-btn active">Our Products</a>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-6 pr-0">
                <div class="banner-img">
                    <img src="{{homePagePaitingsUrl}}1.jpg" alt="Banner Images">

                    <!-- <div class="banner-into-slider owl-carousel owl-theme">
                        <div class="banner-item" *ngFor="let painting of (portfolioPaintings$ | async)">
                          <img [src]="painting.images[0].imageUrl" alt="Banner Image" width="100" height="100">
                        </div>
                      </div> -->

                    <div class="banner-into-slider owl-carousel owl-theme">
                        <!-- <div class="banner-item">
                            <img src="{{homePagePaitingsUrl}}2.jpg" alt="Banner Images">
                        </div>

                        <div class="banner-item">
                            <img src="{{homePagePaitingsUrl}}3.jpg" alt="Banner Images">
                        </div>

                        <div class="banner-item">
                            <img src="{{homePagePaitingsUrl}}4.jpg" alt="Banner Images">
                        </div>

                        <div class="banner-item">
                            <img src="{{homePagePaitingsUrl}}5.jpg" alt="Banner Images">
                        </div> -->

                        <div class="banner-item">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[0]?.paintingImages?.[0]?.imageUrl as imageUrl"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[0]?.id}}" target="_blank">
                                <img [src]="imageUrl" alt="Portfolio Image" class="portfolio-image">
                            </a>
                        </div>
                        <div class="banner-item">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[1]?.paintingImages?.[0]?.imageUrl as imageUrl"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[1]?.id}}" target="_blank">
                                <img [src]="imageUrl" alt="Portfolio Image" class="portfolio-image">
                            </a>
                        </div>
                        <div class="banner-item">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[2]?.paintingImages?.[0]?.imageUrl as imageUrl"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[2]?.id}}" target="_blank">
                                <img [src]="imageUrl" alt="Portfolio Image" class="portfolio-image">
                            </a>
                        </div>
                        <div class="banner-item">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[3]?.paintingImages?.[0]?.imageUrl as imageUrl"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[3]?.id}}" target="_blank">
                                <img [src]="imageUrl" alt="Portfolio Image" class="portfolio-image">
                            </a>
                        </div>
                        <div class="banner-item">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[4]?.paintingImages?.[0]?.imageUrl as imageUrl"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[4]?.id}}" target="_blank">
                                <img [src]="imageUrl" alt="Portfolio Image" class="portfolio-image">
                            </a>
                        </div>
                        <div class="banner-item">
                            <a *ngIf="(paintingsOnFocus$ | async)?.[5]?.paintingImages?.[0]?.imageUrl as imageUrl"
                                href="/paintings-details/{{(paintingsOnFocus$ | async)?.[5]?.id}}" target="_blank">
                                <img [src]="imageUrl" alt="Portfolio Image" class="portfolio-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="assets/img/about/Pawel.jpg" alt="About Images">

                    <div class="about-bg-shape">
                        <img src="assets/img/about/bg-shape.png" alt="About Shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-content">
                    <span>About Me</span>
                    <h2>A financial expert by day and artist by night</h2>
                    <p>I was born in Radom, Poland, and grew up in Tarnobrzeg. After earning my degree from Wroclaw
                        University of Economics in 2011,
                        I continued to expand my education and artistic horizons. In 2019, I graduated from the
                        Eugeniusz Geppert Academy of Fine Arts and Design in Wroclaw,
                        where I studied painting under the tutelage of Prof. Piotr Błażejewski and Dr. Anna
                        Kołodziejczyk.</p>
                    <p>My artistic work spans various mediums—from drawing and painting to scetches and architecturial
                        design.
                        In parallel to my life in art, I have built a career in finance, where I currently work as a
                        financial controller for a multinational company.</p>
                    <div class="about-btn">
                        <a routerLink="/about" class="know-more-btn">About me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-shape">
        <img src="assets/img/about/shape1.png" alt="About Shape">
    </div>
</div>

<section class="service-area pb-70" >
    <div class="container" *ngIf="(availablePaintings$ | async)?.length">
        <div class="scetion-title text-center">
            <span>Paintings</span>
            <h2>Some of my recent work</h2>
            <p>I would like to share a brief representation of my current state of mind, giving you an inside look of
                mind with surgical percision </p>
        </div>
        <span>&nbsp;</span>

        <div id="carouselControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- divide the paintings array into chunks of 3 for each slide -->
                <ng-container *ngFor="let chunk of (availablePaintings$ | async) | sliceArray:3; let isFirst = first">
                    <div class="carousel-item" [class.active]="isFirst">
                        <div class="row">
                            <!-- display each painting in the chunk -->
                            <div class="col-lg-4" *ngFor="let painting of chunk">
                                <div class="service-card">
                                    <a routerLink="/paintings-details/{{painting.id}}">
                                        <img [src]="painting.paintingImages[0]?.imageUrl" alt="Service Images" width="400"
                                            height="380">
                                    </a>
                                    <div class="service-content">
                                        <a routerLink="/paintings-details/{{painting.id}}">
                                            <h3>{{ painting.name }}</h3>
                                        </a>
                                        <p>{{ painting.shortDescription }}</p>
                                        <a routerLink="/contact" class="default-btn"
                                            (click)="onMakeinquiryClick(painting.name)">Make inquiry</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>


<section class="product-area pb-70">
    <div class="container" *ngIf="(portfolioPaintings$| async).length>0">
        <div class="scetion-title text-center">
            <span>Portfolio</span>
            <h2>My work throughout the years</h2>
            <p>I invite you to trace back how my painting style,my inspirations, my technique, my perceptions have evolved over the years</p>
        </div>
        <br>
        <ng-container>
            <div class="row">
                <div class="col-lg-4 col-md-6" *ngFor="let painting of (portfolioPaintings$ | async)">
                    <div class="product-card">
                        <a routerLink="/paintings-details/{{painting.id}}">
                            <img [src]="painting.paintingImages[0]?.imageUrl" alt="Product Images" width="400" height="380">
                        </a>
                        <div class="product-content">
                            <a routerLink="/paintings-details/{{painting.id}}">
                                <h3>{{ painting.name }}</h3>
                            </a>
                            <p><span>{{ painting.dimensions }}</span></p>
                            <div class="product-cart">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<!-- <section class="product-area pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Portfolio</span>
            <h2>My work throughout the years</h2>
            <p>I invite you to trace back how my painting style,my inspirations, my technique, my perceptions have evolved over the years</p>
        </div>
        <div class="row pt-45">
            <div id="carouselControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
\
                  <ng-container *ngFor="let chunk of (availablePaintings$ | async) | sliceArray:3; let isFirst = first">
                    <div class="carousel-item" [class.active]="isFirst">
                      <div class="row">
    \
                        <div class="col-lg-4 col-md-6" *ngFor="let painting of chunk">
                          <div class="product-card">
                            <a routerLink="/paintings-details/{{painting.id}}">
                              <img [src]="painting.images[0]?.imageUrl" alt="Product Images" width="400" height="380">
                            </a>
                            <div class="product-content">
                              <a routerLink="/paintings-details/{{painting.id}}">
                                <h3>{{ painting.name }}</h3>
                              </a>
                              <p><span>{{ painting.dimensions }}</span></p>
                              <div class="product-cart">
                                <ul>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="product-shape">
        <img src="assets/img/products/shape.png" alt="Products Shape">
    </div>
</section> -->

<section class="blog-area pb-70">
    <div class="container" *ngIf="(exhibitions$| async).length>0">
        <div class="scetion-title text-center">
            <span>Exhibitions</span>
            <h2>A portion of the exhibitions I have been a part of</h2>
            <p>Take a peak of the abstract art in real life form</p>
        </div>

        <div class="row pt-45">
            <ng-container>
                <div class="col-lg-4 col-md-6" *ngFor="let exhibition of (exhibitions$ | async)">
                    <div class="blog-card">
                        <a routerLink="/exhibitions/{{exhibition.id}}">
                            <img [src]="exhibition.exhibitionImages[0]?.imageUrl" alt="Blog Images" class="exhibition-image">
                        </a>
                        <div class="blog-content">
                            <a routerLink="/exhibition/{{exhibition.id}}">
                                <h3>{{ exhibition.title }}</h3>
                            </a>
                            <ul class="blog-admin">
                                <li><a routerLink="/"><i class='bi bi-geo-alt-fill'></i> {{ exhibition.location }}</a></li>
                                <li><i class='bx bx-calendar-alt'></i> {{ exhibition.startDate | date:'dd/MM/yyyy' }}</li>
                            </ul>
                            <p>{{ exhibition.shortDescription }}</p>
                            <a routerLink="/exhibitions/{{exhibition.id}}" class="read-more-btn">Read More <i class='bx bxs-chevrons-right'></i></a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
<app-footer></app-footer>