<app-navbar></app-navbar>

<div class="main-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1>We Are Digital Print Media Ageny</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu smod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <div class="banner-btn">
                        <a routerLink="/" class="default-btn">Know More</a>
                        <a routerLink="/product" class="default-btn active">Our Products</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 pr-0">
                <div class="banner-img">
                    <img src="{{homePagePaitingsUrl}}1.jpg" alt="Banner Images">

                    <div class="banner-into-slider owl-carousel owl-theme">
                        <div class="banner-item">
                            <img src="{{homePagePaitingsUrl}}2.jpg" alt="Banner Images">
                        </div>

                        <div class="banner-item">
                            <img src="{{homePagePaitingsUrl}}3.jpg" alt="Banner Images">
                        </div>

                        <div class="banner-item">
                            <img src="{{homePagePaitingsUrl}}4.jpg" alt="Banner Images">
                        </div>

                        <div class="banner-item">
                            <img src="{{homePagePaitingsUrl}}5.jpg" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="assets/img/about/Pawel.jpg" alt="About Images">

                    <div class="about-bg-shape">
                        <img src="assets/img/about/bg-shape.png" alt="About Shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-content">
                    <span>About Me</span>
                    <h2>We Are Leading Our Agency for 15 Years</h2>
                    <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That
                        homeless, won't many of goals thoughts volumes felt with of as he this its tend broad. Well,
                        were make come when from would area page.</p>
                    <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That
                        homeless, won't many of goals thoughts volumes felt with of as he this its tend broad. Well,
                        were make come when from would area page puzzles hell in is through on the in more rent
                        mountains.</p>
                    <div class="about-btn">
                        <a routerLink="/" class="know-more-btn">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-shape">
        <img src="assets/img/about/shape1.png" alt="About Shape">
    </div>
</div>

<section class="service-area pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Art</span>
            <h2>Dizo Provide Good Quality Printing Services</h2>
            <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That
                homeless, won't many of goals thoughts volumes felt.</p>
        </div>
        <span>&nbsp;</span>
        <div id="carouselControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4" *ngFor="let painting of paintingsOnFocusPt1">
                            <div class="service-card">
                                <a routerLink="/paintings-details/{{painting.id}}"><img src="{{painting.imageUrl}}"
                                        alt="Service Images" width="450" height="420"></a>

                                <div class="service-content">
                                    <a routerLink="/painting-details/{{painting.id}}">
                                        <h3>{{painting.name}}</h3>
                                    </a>
                                    <p>{{painting.shortDescription}}</p>
                                    <a routerLink="/contact" class="default-btn" (click)="onMakeinquiryClick(painting.name)">Make inquiry</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4" *ngFor="let painting of paintingsOnFocusPt2">
                            <div class="service-card">
                                <a routerLink="/paintings-details/{{painting.id}}"><img src="{{painting.imageUrl}}"
                                        alt="Service Images" width="450" height="420"></a>

                                <div class="service-content">
                                    <a routerLink="/painting-details/{{painting.id}}">
                                        <h3>{{painting.name}}</h3>
                                    </a>
                                    <p>{{painting.shortDescription}}</p>
                                    <a routerLink="/contact" class="default-btn" (click)="onMakeinquiryClick(painting.name)">Make inquiry</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-area pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Product</span>
            <h2>We Have Some Pre-ready Demo Product</h2>
            <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That
                homeless, won't many of goals thoughts volumes felt.</p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="product-card">
                    <a routerLink="/product-details"><img src="assets/img/products/products1.jpg"
                            alt="Products Images"></a>

                    <div class="product-content">
                        <a routerLink="/product-details">
                            <h3>Package Design</h3>
                        </a>
                        <p><span>$29</span> +vat</p>
                        <div class="product-cart">
                            <ul>
                                <li><a routerLink="/"><i class='bx bx-heart'></i></a></li>
                                <li><a routerLink="/cart"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-card">
                    <a routerLink="/product-details"><img src="assets/img/products/products2.jpg"
                            alt="Products Images"></a>

                    <div class="product-content">
                        <a routerLink="/product-details">
                            <h3>T-shirt Design</h3>
                        </a>
                        <p><span>$20</span> +vat</p>
                        <div class="product-cart">
                            <ul>
                                <li><a routerLink="/"><i class='bx bx-heart'></i></a></li>
                                <li><a routerLink="/cart"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-card">
                    <a routerLink="/product-details"><img src="assets/img/products/products3.jpg"
                            alt="Products Images"></a>

                    <div class="product-content">
                        <a routerLink="/product-details">
                            <h3>Cover Van</h3>
                        </a>
                        <p><span>$30</span> +vat</p>
                        <div class="product-cart">
                            <ul>
                                <li><a routerLink="/"><i class='bx bx-heart'></i></a></li>
                                <li><a routerLink="/cart"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-card">
                    <a routerLink="/product-details"><img src="assets/img/products/products4.jpg"
                            alt="Products Images"></a>

                    <div class="product-content">
                        <a routerLink="/product-details">
                            <h3>Mug Design</h3>
                        </a>
                        <p><span>$10</span> +vat</p>
                        <div class="product-cart">
                            <ul>
                                <li><a routerLink="/"><i class='bx bx-heart'></i></a></li>
                                <li><a routerLink="/cart"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-card">
                    <a routerLink="/product-details"><img src="assets/img/products/products5.jpg"
                            alt="Products Images"></a>

                    <div class="product-content">
                        <a routerLink="/product-details">
                            <h3>Book Cover</h3>
                        </a>
                        <p><span>$15</span> +vat</p>
                        <div class="product-cart">
                            <ul>
                                <li><a routerLink="/"><i class='bx bx-heart'></i></a></li>
                                <li><a routerLink="/cart"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-card">
                    <a routerLink="/product-details"><img src="assets/img/products/products6.jpg"
                            alt="Products Images"></a>

                    <div class="product-content">
                        <a routerLink="/product-details">
                            <h3>Astronaut Cover</h3>
                        </a>
                        <p><span>$35</span> +vat</p>
                        <div class="product-cart">
                            <ul>
                                <li><a routerLink="/"><i class='bx bx-heart'></i></a></li>
                                <li><a routerLink="/cart"><i class='bx bx-cart'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-shape">
        <img src="assets/img/products/shape.png" alt="Products Shape">
    </div>
</section>

<div class="blog-area pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Blogs</span>
            <h2>Our Regular Blog Post</h2>
            <p>What indication best sick be project proposal in attempt, train of the showed some a forth. That
                homeless, won't many of goals thoughts volumes felt.</p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a routerLink="/blog-details"><img src="assets/img/blog/blog1.jpg" alt="Blog Images"></a>

                    <div class="blog-content">
                        <a routerLink="/blog-details">
                            <h3>Work Once Print 100+</h3>
                        </a>
                        <ul class="blog-admin">
                            <li><a routerLink="/"><i class='bx bxs-user'></i> Admin</a></li>
                            <li><i class='bx bx-calendar-alt'></i> 18 May 2020</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i
                                class='bx bxs-chevrons-right'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a routerLink="/blog-details"><img src="assets/img/blog/blog2.jpg" alt="Blog Images"></a>

                    <div class="blog-content">
                        <a routerLink="/blog-details">
                            <h3>Keep Your Print Great</h3>
                        </a>
                        <ul class="blog-admin">
                            <li><a routerLink="/"><i class='bx bxs-user'></i> Admin</a></li>
                            <li><i class='bx bx-calendar-alt'></i> 18 May 2020</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i
                                class='bx bxs-chevrons-right'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="blog-card">
                    <a routerLink="/blog-details"><img src="assets/img/blog/blog3.jpg" alt="Blog Images"></a>

                    <div class="blog-content">
                        <a routerLink="/blog-details">
                            <h3>Digital Print is Science</h3>
                        </a>
                        <ul class="blog-admin">
                            <li><a routerLink="/"><i class='bx bxs-user'></i> Admin</a></li>
                            <li><i class='bx bx-calendar-alt'></i> 18 May 2020</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i
                                class='bx bxs-chevrons-right'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>