<app-navbar></app-navbar>

<div class="inner-banner inner-bg2">
    <div class="container">
        <div class="inner-title">
            <h3>FAQ</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
</div>

<div class="faq-area-bg pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>FAQ</span>
            <h2>Frequently Asked Questions</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>

        <div class="row align-items-center pt-45">
            <div class="col-lg-6">
                <div class="faq-accordion faq-accordion-width">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i> What inspires your artwork?</a>
                            <div class="accordion-content">
                              <p>My inspiration comes from a blend of personal experiences, nature's unpredictability, and the myriad of human emotions that we encounter daily. Each painting aims to capture a moment, tell a story, or simply evoke a specific mood or thought.</p>
                            </div>
                          </li>
                          
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i> How often do you add new paintings to your collection?</a>
                            <div class="accordion-content">
                              <p>I create and share new pieces as they come to life. The creative process can't be rushed, so I don’t have a set schedule for new releases. To be the first to know about new artwork, follow me on social media or subscribe to my newsletter.</p>
                            </div>
                          </li>
                          
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i> What materials do you use for your paintings?</a>
                            <div class="accordion-content">
                              <p>I experiment with various mediums, but I have a particular fondness for oil and acrylic due to their versatility and depth they can bring to a piece. High-quality, sustainable materials are chosen to ensure the longevity of each painting and to minimize environmental impact.</p>
                            </div>
                          </li>
                          
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i> How can I learn more about a specific painting?</a>
                            <div class="accordion-content">
                              <p>I'm always happy to provide more insight into my paintings. For details about the techniques, materials used, or the story behind a particular piece, reach out via the contact form and I'll respond with the fascinating details.</p>
                            </div>
                          </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="faq-accordion faq-accordion-width">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i> Can I feature your work on my blog or website?</a>
                            <div class="accordion-content">
                              <p>You may feature my artwork on your blog or website only after obtaining explicit written permission from me. Each piece is a product of my creativity and I take intellectual property rights seriously. Please contact me to discuss the details.</p>
                            </div>
                          </li>
                          
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i> Do you collaborate with other artists or galleries??</a>
                            <div class="accordion-content">
                              <p>If a piece has been sold and you're interested in something similar, I may consider creating a work inspired by it, keeping in mind that every painting is unique. Please get in touch to discuss the possibilities.</p>
                            </div>
                          </li>
                          
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i> How can I get updates on your new work?</a>
                            <div class="accordion-content">
                              <p>The best way to receive updates is to subscribe to my newsletter and follow my social media profiles. I share my latest creations, thoughts, and the stories behind my paintings regularly.</p>
                            </div>
                          </li>
                          
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i> Do you take inspiration from commissions?</a>
                            <div class="accordion-content">
                              <p>While I primarily focus on my personal visions, I am occasionally inspired by the stories and ideas brought to me through commissions. If you have a concept in mind, feel free to reach out, and we can explore the creative potential together.</p>
                            </div>
                          </li>
                    </ul>
                </div>   
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>