<div class="row">
  <div id="imagePreview" *ngIf="imageURL && imageURL !== ''">
    <img [src]="imageURL">
  </div>
</div>

<div class="col-auto">
  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple required>
  <button type="button" class="btn btn-success" (click)="file.click()" id="uploadButton">Upload File</button>

</div>
<div>
  <div class="col-auto">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
  </div>
</div>

<div class="col-auto">
  <span id="messageUpload" *ngIf="message">
    {{message}}
  </span>
</div>