<div class="row">
  <!-- Loop through imageURLs array to display all images -->
  <div id="imagePreview" *ngFor="let url of imageURLs">
    <img [src]="url">
  </div>
</div>

<div class="col-auto">
  <!-- Checkbox for main picture -->
  <input type="checkbox" [(ngModel)]="isMainPicture">
  <label for="isMainPicture">Is Main Picture</label>

  <!-- Notice the multiple attribute to allow multiple files -->
  <input type="file" #file placeholder="Choose file" (change)="uploadFiles(file.files)" style="display:none;" multiple required>
  <button type="button" class="btn btn-success" (click)="file.click()" id="uploadButton">Upload Files</button>
</div>

<div>
  <div class="col-auto">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
  </div>
</div>

<div class="col-auto">
  <span id="messageUpload" *ngIf="message">
    {{message}}
  </span>
</div>
